// browse happy
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//////////////////////////
@import "fonts/fonts";
@phoenix:'phoenixscriptflfregular';
@open: 'open_sanslight';
@purple: #7A34B1;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size:16px;
}
.main-splash {
    min-width:100%;
    min-height:100%;
    padding:0;
}
.video-background { 
    position: fixed;
    top: 0px; 
    right: 0px; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    overflow: hidden;
    z-index:-100;
}
.spacer {
    background:black;
    opacity:0.3;
    min-height:100%;
    min-width:100%;
    z-index:-99;
}
.navbar-default {
    background-color:transparent !important;
    border:0;
    font-family:@open;
    .navbar-header {
        background-color:white;
    }
    .navbar-collapse {
        text-align:center;
        @media (max-width: 768px) {
            background-color:white;
            border:0;
        }
        .nav.navbar-nav {
            display:inline-block;
            float:none;
            @media (max-width: 768px) {
                li a {
                    color:black;
                }
            }
        }
    }
    .navbar-toggle {
        span.icon-bar {
            background-color:@purple;
        }
        &:focus {
            outline:none;
        }
    }
}
.header {
    position:fixed;
    z-index:-98;
    text-align:center;
    top:30%;
    .header-top {
        h1 {
            color:white;
            font-family:@phoenix;
            font-weight:normal;
            font-size:6em;
        }
    }
    .header-bottom {
        h1 {
            color:white;
            font-family:futura;
            letter-spacing:0.7em;
            font-weight:100;
            font-size:1.3em; 
        }
    }
}
.scroll-down {
    width:5rem;
    height:5rem;
    border-radius:100%;
    color:black;
    background-color:white;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-2.5rem;
    margin-bottom:-2.5rem;
    text-align:center;
    span {
        text-align:center;
        padding-left:0.05em;
        font-size:2em;
        padding-top:0.2em;
    }
}
.about-us {
    width:100%;
    left:0;
    top:0;
    padding:8%;
    background-color:white;
    font-family:@open;
    .tagline {
        margin-bottom:2rem;
        h3 {
            color:black;
            text-align:center;
            font-weight:normal;
            font-size:2em;
            font-family:@open;
        }
    }
}
.intro-text {
    margin-bottom:2rem;
}
.team {
    margin-bottom:2rem;
    img {
        width:60%;
        margin-bottom:1rem;
        transition:transform 0.5s, filter 0.5s;
        -webkit-transition:-webkit-transform 0.5s, -webkit-filter 0.5s;
        &:hover {
            transform:scale(1.05);
            -ms-transform:scale(1.05); /* IE 9 */
            -moz-transform:scale(1.05); /* Firefox */
            -webkit-transform:scale(1.05); /* Safari and Chrome */
            -o-transform:scale(1.05); /* Opera */

            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    .enda-img {
        float:left;
    }
    .enda-text {
        float:right;
    }
    .ben-img {
        float:right;
    }
    .ben-text {
        float:left;
    }
    .enda-text, .ben-text {
        margin-top:10%;
    }
    .read-more-enda, .read-more-ben {
        position:absolute;
        top:30%;
        background-color:white;
        width:87%;
        height:3rem;
        text-align:center;
        vertical-align:middle;
        line-height:3rem;
        opacity:0;
    }
}